body{
  background-image: url("https://static.vecteezy.com/system/resources/previews/011/856/769/original/cartoon-autumn-minimal-yellow-and-red-maple-leaves-seamless-pattern-cute-doodle-wallpaper-illustration-vector.jpg");
  background-size: contain;
}
.container{
  margin-top: 20px;
  padding: 5% 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.5fr;
  grid-template-areas: "button button" "dice-1 dice-2";
  gap: 1rem;
}
.btn{
  grid-area: button;
}
.btn-text{
  font-size: 5.5rem;
  font-family: 'Righteous', cursive;
}
.dice-1{
  grid-area: dice-1;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.812);
  border-radius: 10px;
}
.btn {
  animation: btn 2s ease infinite;
}
@keyframes btn {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateY(-7px);}
	20%, 40%, 60%, 80% {transform: translateY(7px);}
}

.img1 {
	backface-visibility: visible !important;
	animation: img1 2s ease infinite;
}
@keyframes img1 {
	0% {
		transform: perspective(700px) rotateY(0);
		animation-timing-function: ease-out;
	}
	40% {
		transform: perspective(700px) translateZ(150px) rotateY(170deg);
		animation-timing-function: ease-out;
	}
	50% {
		transform: perspective(700px) translateZ(150px) rotateY(190deg) scale(1);
		animation-timing-function: ease-in;
	}
	80% {
		transform: perspective(700px) rotateY(360deg) scale(.95);
		animation-timing-function: ease-in;
	}
	100% {
		transform: perspective(700px) scale(1);
		animation-timing-function: ease-in;
	}
}
.img2 {
	backface-visibility: visible !important;
	animation: img2 2s ease infinite;
}
@keyframes img2 {
	0% {
		transform: perspective(700px) rotateY(0);
		animation-timing-function: ease-out;
	}
	40% {
		transform: perspective(700px) translateZ(150px) rotateY(170deg);
		animation-timing-function: ease-out;
	}
	50% {
		transform: perspective(700px) translateZ(150px) rotateY(190deg) scale(1);
		animation-timing-function: ease-in;
	}
	80% {
		transform: perspective(700px) rotateY(360deg) scale(.95);
		animation-timing-function: ease-in;
	}
	100% {
		transform: perspective(700px) scale(1);
		animation-timing-function: ease-in;
	}
}


.btn-img{
  height:80px;
  
}
.btn-img-1{
  height:80px;
  transform: scaleX(-1);

}
.dice-2{
  text-align: center;
  grid-area: dice-2;
  background-color: rgba(255, 255, 255, 0.812);
  border-radius: 10px;
}
.dice-1-text,.dice-2-text{
  font-size: 4rem;
  color: rgb(9, 123, 60);
  font-family: 'Lilita One', cursive;
}
.img1,.img2{
  padding: 5% 10%;
  height:200px;
}

footer {
  margin-top: 5%;
  color: #000000;
  text-align: center;

}
