#title{
    background-color: #93c3df;
}
#Omega-img{
    height:560px;
}
h2{
    font-family: 'Alkatra', cursive;;
}
.container-fluid{
    padding: 3% 15%;
}
.nav-item{
    padding:0 10px;
}
.nav-link{
    font-size: 1.2rem;
}
.navbar{
    padding:0 0 4.5rem;
}
.body{
    
}
.navbar-brand{
    color: rgb(63, 63, 63);
    font-size: 2.5rem;
    font-weight: bold;
}
.title1{
    font-family: 'Rowdies', cursive;
    font-size: 3.5rem;
}
.download-button{
    margin: 5% 3% 5% 0;
}
#Omega-img{
    border-radius: 10px;
    transform: rotate(5deg);
}
.feature-col{
    padding: 7% 15%;
    font-weight: bold;
    font-family: 'Alkatra', cursive;
    text-align: center;
}
.feature-p{
    font-family: Arial;
    font-weight:200;
}
.feature-icon{
    margin-bottom:10px;
    color: #93c3df;
}
#Quotes{
    text-align: center;
    background-color: #93c3df;
}
.quotes-img{
    width:10%;
    border-radius: 100%;
    margin:20px;
}
.carousel-item{
    padding:7% 15%;
}
#pricing{
    padding:7% 15%;
    text-align: center;
}
#footer{
    text-align: center;
}
.pricing-heading{
    text-align: center;
}
.card-header{
    font-family: 'Rowdies', cursive;
}
.card-body{
    font-family: 'Rowdies', cursive;
    font-weight: lighter;

}
#Gallery{
    padding: 7% 10%;
    background-color: #93c3df;
}
.gallery-img{
    text-align: center;
    height: 800px;
    width: 849px;
    padding: 7% 15%;
}
@media (max-width:760px){
    #Omega-img{
        width:500px;
        height:500px;
        transform:rotate(0);
    }
    .gallery-img{
        text-align: center;
        height: 500px;
        width: 370px;
        padding: 7% 1%;
    }

}
.Gallery-heading{
    text-align: center;
}
.bottom-text{
    font-family: 'Rowdies', cursive;
    font-size: 2.5rem;
    padding: 7% 15%;
    padding-bottom: 60px;
    text-align: center;
}
#bottom{
    text-align: center;
    margin-bottom: 100px;
}
.bottom-icon{
    margin: 20px 10px;
}